/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.voltar-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

#voltarButton {
    background-color: #218838;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

#voltarButton:hover {
    background-color: #0056b3;
}

.container {
    width: 90%; /* Ajusta a largura para telas menores */
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

/* Formulário */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Botão principal de cadastro */
button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #218838;
}

/* Estilo do botão customizado para escolher arquivo */
.custom-upload-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    width: auto;
}

.custom-upload-button:hover {
    background-color: #218838;
}

/* Nome do arquivo selecionado */
.file-name {
    display: inline-block;
    margin-left: 10px;
    font-size: 14px;
    color: #555;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    button,
    .custom-upload-button {
        width: 100%; /* Botões ocupam toda a largura em telas menores */
    }

    .file-name {
        margin-top: 5px;
        display: block; /* Exibe o nome do arquivo em uma nova linha em telas menores */
    }
}
