body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-container input[type="email"],
.login-container input[type="password"] {
    width: 100%; /* Garante que ocupe 100% da largura do container */
    padding: 10px;
    margin-bottom: 15px; /* Ajusta o espaçamento inferior */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Inclui o padding e a borda no cálculo de largura */
}

.login-container button {
    width: 100%; /* Garante que o botão ocupe toda a largura do container */
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px; /* Adiciona um pequeno espaçamento acima do botão */
    box-sizing: border-box;
}

.login-container button:hover {
    background-color: #45a049;
}

.register-link {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.register-link a {
    color: #4CAF50;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
